{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}

<section>
    <h2>Weekly Work</h2>

    <ul class="weekly-list">
        <li>
            <a href="/">Week 1 — Live site launched</a>
        </li>

        <li>
            <a href="/internet-history">Week 2 — Internet history</a>
        </li>

         <li>
            <a href="/internet-history-ai">Week 2 — Internet history with AI</a>
        </li>

        <li>
            <a href="/web-history">Week 2 — Web history</a>
        </li>

         <li>
            <a href="/web-history-ai">Week 2 — Web history with AI</a>
        </li>
    </ul>
</section>

{% endblock %}
